<h1>Tweets from Everybody</h1>

<% @tweets.each do |tweet| %>
	<div class="well">
		<p><strong><%= tweet.user.email %></strong> -- <%= tweet.content %></p>
		<small><%= tweet.created_at %></small>
	</div>
<% end %>

